<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../styles/reset.css">
  <link rel="stylesheet" href="../../../styles/base.css">
  <link rel="stylesheet" href="../../../styles/layout.css">
  <link rel="stylesheet" href="../../../styles/modules.css">
  <div class="results-div">
    <title id="results-title">Search Results</title>
  </div>
</head>

<body>
  <ul>
    <% for(let i=0; i < titles.length; i++){ %>
      <li>
        <h2 class="results-h2">
          <%= titles[i].title %>
        </h2>
        <h3 class="results-h3">
          <%= titles[i].author %>
        </h3>
        <p>
          <%= titles[i].isbn %>
        </p>
        <p>
          <%= titles[i].url %>
        </p>
        <p class="results-p">
          <%= titles[i].description %>
        </p>
        <img class="results-img" src="<%= titles[i].image %>">
        <form class="results-button"  action="/save-book" method="POST">
          <input type="hidden" name="title" value="<%= JSON.stringify(titles[i]) %>">
          <input type="submit" value="save book">
        </form>
      </li>
      <% } %>
  </ul>
</body>

</html>