<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
</head>

<body>
  <h1>Results</h1>

  <ul>
    <% for(let i = 0; i < titles.length; i++){ %>
      <li>
        <p><%= titles[i].title %></p>
        <p><%= titles[i].author %></p>
        <p><%= titles[i].isbn %></p>
        <p><%= titles[i].url %></p>
        <p><%= titles[i].description %></p
        <img src="<%= titles[i].image_url %>" alt="">
        <form action="/save-book" method="POST">
          <input type="hidden" name="title" value="<%= JSON.stringify(titles[i]) %>">
          <input type="submit" value="save book">
        </form>
      </li>
    <% } %>
  </ul>
</body>
</html>