<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>
  <h1>Books</h1>
  <h2>
    <p>There are <%= titles.length %> books in your library</p>
  </h2>

  <ul>
    <% books.forEach(book => { %>
    <li>
      <h2><%= book.title%></h2>
      <p><%= isbn %></p>
      <p><%= Description %></p>
    </li>
  <% }) %>
  </ul>
  <fieldset>
    <legend>Book Search</legend>
    <form action="/book-search" method="POST">
    <input type="radio" id="author" name="searchType" value="author">
    <label for="Author">Author</label>
    <input type="radio" id="title" name="searchType" value="title">
    <label for="Title">Title</label>
    <input type="text" name="searchTerm">
    <input type="submit" value="search">
    </form>
  </fieldset>
    


  
  <!-- <% for(let i = 0; i < titles.length; i++){ %>
    <div href="/pages/results.ejs">
      <li>
        <p><%= titles[i].title %></p>
        
      </li>
    </div>
  <% } %>

  <nav>
    <a href="/book-search">book search</a>
  </nav> -->
</body>
</html>